body {
  margin: 0;
  padding: 0;
  border: 0;
}

#fast {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('hero.jpg');
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
}

#red-cars {
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(26, 26, 26);
}

#numbers {
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(214, 0, 0);
}

#about-the-red {
  background-color: rgb(26, 26, 26);
}

#quote {
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(214, 0, 0);
  text-align: center;
}

#fast-car {
  display: flex;
  justify-content: center;
  margin: 0; 
  padding: 0;
  top: 0px;
  right: 0px;
}

.title {
  text-align: center;
  margin: 0; 
  padding: 0;
  color: white;
  font-size: 3vw;
}

.read {
  font-size: 2vw;
}

/* Standard section container for alignment and text color */

.container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacing {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
}

/* Use this class for text */

.text {
  font-size: 30px;
  padding: 100px;
}

#car-mic {
  margin: 0; 
  padding: 100px;
  top: 0px;
  right: 0px;
  width: 40vw;
  height: auto;
}

.icon {
  width: 5vw;
  height: auto;
}

.about-red-container {
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'header header right'
    'left center right'
    'left footer footer';
  grid-gap: 20px;
  padding: 100px;
  padding-top: 0px;
}

.front {
  background-image: url('front.jpg');
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
  grid-area: header;
}

.steering1 {
  background-image: url('steering1.jpg');
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
  grid-area: right;
}

.f1 {
  background-image: url('f1.jpg');
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
  grid-area: left;
}

.back {
  background-image: url('back.jpg');
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
  grid-area: footer;
}
.scuderia {
  font-size: 10vh;
  grid-area: center;
  text-align: center;
}