body {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Changes placeholder text in the email field to white */

::placeholder {
  color: white ;
}

/* Section 1 background image */

#fast {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('hero.jpg');
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
}

/* Title block */

#fast-car {
  display: flex;
  justify-content: center;
  margin: 0; 
  padding: 0;
  top: 0px;
  right: 0px;
}

/* Margins and background colour of section 2 */

#red-cars {
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(26, 26, 26);
}

/* Margins and background colour of section 3 */

#numbers {
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(214, 0, 0);
}

/* Background colour of section 4 */

#about-the-red {
  background-color: rgb(26, 26, 26);
}

/* Margins and background colour of section 5 */

#quote {
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(214, 0, 0);
  text-align: center;
}

/* Margins and background colour of section 6 */

#interesting {
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(26, 26, 26);
}

/* Alignment and background colur of section 7 */

#email {
  background-color: rgb(26, 26, 26);
}

/* Background colour of the footer section 8 */

#footer {
  background-color: rgb(54, 54, 54);
}


/* Text alignment, colour, and size of the title */

.title {
  text-align: center;
  margin: 0; 
  padding: 0;
  color: white;
  font-size: xx-large;
}

/* Font size of "Read more" text */

.read {
  font-size: x-large;
}

/* Standard div container for alignment and text color */

.container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Used for spacing the icons in section 3 */

.spacing {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

/* Spacing class for leftmost icon without padding on the sides */

.spacing-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* Spacing for rightmost icon without padding on the right */

.spacing-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  padding-right: 0%;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* Standard text class */

.text {
  font-size: large;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

/* Smaller text class used in section 6 */

.text-small {
  font-size: 15px;
  padding: 30px;
  background-color: rgb(54, 54, 54);
}

/* Bigger text class used in section 5 */

.text-big {
  font-size: x-large;
  padding: 50px;
  padding-right: 200px;
  padding-left: 200px;
}

/* Dimensions of the car microphone image in section 2 */

#car-mic {
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 40%;
  height: 100%;
}

/* Dimensions of the 4 icons in section 3 */

.icon {
  width: 50px;
  height: auto;
}

/* Dimensions of github and linkedin icons in footer */

.icon-2 {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

/* Container that makes white text without alignment */

.container-2 {
  color: white;
}

/* Container without justify content */

.container-3 {
  color: white;
  display: flex;
  align-items: center;
}

/* Creates grid of 4 images and a text box for section 4 */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'header header right'
    'left center right'
    'left footer footer';
  grid-gap: 5%;
  padding: 10vw;
  padding-top: 0px;
}

/* Adds image to grid header */

.front {
  background-image: url('front.jpg');
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
  grid-area: header;
}

/* Adds image to right side of grid */

.steering1 {
  background-image: url('steering1.jpg');
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
  grid-area: right;
}

/* Adds image to left side of grid */

.f1 {
  background-image: url('f1.jpg');
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
  grid-area: left;
}

/* Adds image to grid footer */

.back {
  background-image: url('back.jpg');
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
  grid-area: footer;
}

/* Adds text to center of grid */

.scuderia {
  font-size: 5vw;
  grid-area: center;
  text-align: center;
}

/* Creates margins on columns in section 6 */

.column-container {
  margin-left: 5vw;
  margin-right: 5vw;
}

/* Adds image to left column */

.column-image1 {
  background-image: url('engine.jpg');
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Adds image to middle column */

.column-image2 {
  background-image: url('steering2.jpg');
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Adds image to right column */

.column-image3 {
  background-image: url('wheel.jpg');
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Adjusts position of left column */

.left-column {
  position: relative;
  padding-bottom: 50px;
}

/* Adjusts postion and spaces out middle column */

.middle-column {
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 50px;
}

/* Adjusts position of right column */

.right-column {
  position: relative;
  padding-bottom: 50px;
}

/* The red tags that go on the bottom-left corner of the 3 column images */

.image-text {
  background-color: rgb(214, 0, 0);
  position: absolute;
  bottom: 16px;
  left: 16px;
  padding: 5px;
}

/* Email box */

.email-input {
  width: 400px;
  float: right;
  background-color: rgb(54, 54, 54);
  margin-right: 100px;
  margin-bottom: 100px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/*Input fields for email box*/

.input-field {
  background-color:grey;
  border-color: grey;
  color: white;
  width: 350px;
  height: 50px;
  margin-top: 25px;
}

/* Smaller input fields for the first and last names */

.input-field-name {
  background-color:grey;
  border-color: grey;
  color: white;
  width: 150px;
  height: 50px;
  margin-top: 25px;
  margin-right: 40px;
}

/* Size and colour of the submit button */

#formButton {
  background-color: rgb(214, 0, 0);
  color: white;
  font-size: 1.4em;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}

/* For screens less than 850px wide */

@media screen and (max-width: 850px) {

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
  }

  .middle-column {
    margin-left: 0px;
    margin-right: 0px;
  }

  /* Text padding size responsive to screen width */

  .text {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  /* Larger text made smaller to fit within section */

  .text-big {
    font-size: large;
    padding: 5%
  }

  /* Rightside margin removed to center image */

  #car-mic {
    margin-right: 0vw;
    width: 60%;
  }

  .email-input {
    width: 75vw;
    margin-right: 2vw;
    margin-left: 2vw;
    padding-left: 10vw;
  }

  .input-field {
    width: 60vw;
    height: 5vh;
  }
  
  .input-field-name {
    width: 25vw;
    height: 5vh;
    margin-right: 9vw;
  }

  .spacing {
    flex-direction: column;
    padding: 0%;
    text-align: center;
  }
  
  .spacing-2 {
    flex-direction: column;
    padding: 0%;
    padding-top: 5%;
    text-align: center;
  }
  
  .spacing-3 {
    flex-direction: column;
    padding: 0%;
    text-align: center;
  }
}