body {
  margin: 0;
  padding: 0;
  border: 0;
}

.fast {
    height: 1080px;
    width: 1920px;
    background-image: url('hero.jpg');
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0; 
    padding: 0;
  }
  .title {
    text-align: center;
    margin: 0; 
    padding: 0;
    color: #fff;
    font-size: 4vw;
   }